Repository TotallyNotRobots/mycroft: changes, and which Codecov flags are due for each by the changed paths.
All: tests, core, plugins

build: update base vscode settings
  .vscode/settings.json
Due: none

ci: switch to renovate for updates
  .github/dependabot.yml
  .github/renovate.json
Due: none

ci: remove custom codeql setup
  .github/workflows/codeql.yml
Due: none

ci: drop support for EOL python versions
  .github/workflows/mypy.yml
  .github/workflows/pylint.yml
  .github/workflows/pythonapp.yml
  .pre-commit-config.yaml
Due: none

ci: update coverage settings
  codecov.yml
Due: none

style: enforce requiring specific error codes for type: ignore comments
  pyproject.toml
  tests/core_tests/test_irc_client.py
Due: tests

ci: auto-expand star imports
  pyproject.toml
Due: none

refactor: migrate to ruff
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .pre-commit-config.yaml
  .vscode/extensions.json
  cloudbot/__main__.py
  cloudbot/bot.py
  cloudbot/hook.py
  cloudbot/util/http.py
  plugins/google_cse.py
  plugins/google_translate.py
  plugins/imgur.py
  plugins/link_announcer.py
  plugins/youtube.py
  pyproject.toml
  requirements-dev.txt
  tests/conftest.py
  tests/core_tests/test_client.py
  tests/core_tests/test_hook.py
  tests/core_tests/test_main.py
  tests/core_tests/test_plugin_hooks.py
  tests/plugin_tests/test_chain.py
  tests/plugin_tests/test_core_misc.py
  tests/plugin_tests/test_factoids.py
  tests/plugin_tests/test_gaming.py
  tests/plugin_tests/test_help.py
  tests/plugin_tests/test_link_announcer.py
  tests/plugin_tests/test_weather.py
  tests/plugin_tests/test_youtube.py
  tests/util/async_mock.py
Due: tests, core, plugins

refactor: move quote table migration to alembic
  alembic/versions/18971030c3e0_update_quote_table_to_use_booleans.py
  plugins/quote.py
  tests/plugin_tests/test_quote.py
Due: tests, plugins

refactor: move tells table migration to alembic
  alembic/versions/e31beb6a9203_add_msg_id_to_tells_table.py
  plugins/tell.py
  tests/plugin_tests/test_tell.py
Due: tests, plugins

refactor: update alembic template
  alembic/script.py.mako
Due: none

ci: sort ruff exclusions
  pyproject.toml
Due: none

refactor: clean up quoted types
  cloudbot/client.py
  cloudbot/config.py
  plugins/core/regex_chans.py
  plugins/cryptocurrency.py
  plugins/locate.py
  plugins/poll.py
  plugins/profiling.py
  plugins/time_plugin.py
  pyproject.toml
Due: core, plugins

refactor: clean up old union syntax
  cloudbot/util/http.py
  plugins/tvdb.py
  plugins/youtube.py
  pyproject.toml
Due: core, plugins

refactor: switch to more f-strings
  cloudbot/util/formatting.py
  cloudbot/util/pager.py
  cloudbot/util/textgen.py
  cloudbot/util/timeparse.py
  plugins/badwords.py
  plugins/brew.py
  plugins/core/log.py
  plugins/domainr.py
  plugins/gaming.py
  plugins/lastfm.py
  plugins/myfitnesspal.py
  plugins/penis.py
  plugins/reddit_info.py
  plugins/remind.py
  plugins/steam_store.py
  plugins/steam_user.py
  plugins/system.py
  plugins/time_plugin.py
  plugins/youtube.py
  pyproject.toml
  tests/plugin_tests/test_minecraft_ping.py
Due: tests, core, plugins

refactor: int|float -> float
  cloudbot/util/filesize.py
  cloudbot/util/tokenbucket.py
  plugins/cryptocurrency.py
  pyproject.toml
Due: core, plugins

fix: don't propagate log messages to root
  cloudbot/__init__.py
Due: core

test: make sure we capture all logs with caplog_bot
  tests/conftest.py
Due: tests

refactor: switch to using Self type where applicable
  cloudbot/util/irc.py
  plugins/tvdb.py
Due: core, plugins

ci: bump min python version to 3.10
  .devcontainer/devcontainer-lock.json
  .devcontainer/devcontainer.json
  pyproject.toml
Due: none

Path conditions:
  tests: any of: tests/
  core: any of: cloudbot/
  plugins: any of: plugins/
