Repository TotallyNotRobots/mycroft: changes, and which Codecov flags are due for each by the changed paths.
All: tests, core, plugins

codecov.yml:

comment:
  require_changes: true

coverage:
  status:
    patch:
      default: false
    project:
      default: false

component_management:
  individual_components:
  - component_id: tests
    name: tests
    paths:
    - tests/
    statuses:
    - type: patch
      target: 100%
    - type: project
      target: 100%

  - component_id: core
    name: core
    paths:
    - cloudbot/
    statuses:
    - type: patch
      target: 100%
    - type: project

  - component_id: plugins
    name: plugins
    paths:
    - plugins/
    statuses:
    - type: patch
    - type: project

refactor: migrate to sqlalchemy 2.0 compatible apis
  cloudbot/bot.py
  tests/util/mock_db.py
Due: tests, core

build: format requirements files
  requirements-dev.txt
  requirements.txt
Due: none

feat(db): add database schema migration
  .pre-commit-config.yaml
  alembic/README
  alembic/env.py
  alembic/script.py.mako
  cloudbot/__main__.py
  cloudbot/bot.py
  cloudbot/plugin.py
  pyproject.toml
  requirements.txt
  tests/core_tests/test_main.py
  tests/core_tests/test_plugin_manager.py
Due: tests, core

test: add tests for schema migration
  tests/core_tests/test_schema_migration.py
Due: tests

refactor(alembic): remove unused offline migration
  alembic/env.py
Due: none

feat: add opt-in for automatic schema upgrades
  alembic/env.py
  alembic/versions/263108d18172_sync_nullables.py
  cloudbot/__main__.py
  cloudbot/bot.py
  cloudbot/config.py
  cloudbot/db.py
  cloudbot/plugin.py
  config.default.json
  plugins/hookup.py
  pyproject.toml
  tests/conftest.py
  tests/core_tests/config_test.py
  tests/core_tests/test_bot.py
  tests/core_tests/test_main.py
  tests/core_tests/test_schema_migration.py
  tests/plugin_tests/hookup_test.py
  tests/plugin_tests/test_tell.py
  tests/util/mock_bot.py
Due: tests, core, plugins

feat(core): add connection column to permission DB to set perms per conn
  alembic/versions/60f88c7765e0_add_connection_to_permissions_tables.py
  cloudbot/__main__.py
  cloudbot/bot.py
  cloudbot/permissions.py
  cloudbot/util/mapping.py
  plugins/admin_bot.py
  pyproject.toml
  tests/core_tests/test_bot.py
  tests/core_tests/test_permission_manager.py
  tests/plugin_tests/test_admin_bot.py
Due: tests, core, plugins

ci(coverage): lower required coverage for tests and core
  codecov.yml
Due: none

refactor(plugins): remove mcstatus plugin as the API no longer exists
  plugins/minecraft_status.py
Due: plugins

refactor(plugins): Remove pagecheck as isup.me changed format
  plugins/pagecheck.py
Due: plugins

test(imgur): add tests for imgur plugin
  tests/plugin_tests/test_imgur.py
Due: tests

test(help): add cmdinfo tests
  tests/plugin_tests/test_help.py
Due: tests

refactor: replace unicode characters with escapes
  .pre-commit-config.yaml
  cloudbot/util/formatting.py
  plugins/attacks.py
  plugins/duckhunt.py
  plugins/herald.py
  plugins/shrug.py
  plugins/utility.py
  plugins/wordnik.py
  tests/core_tests/util_tests/test_formatting.py
  tests/plugin_tests/test_duckhunt.py
  tests/plugin_tests/test_jokes.py
  tests/plugin_tests/test_karma.py
  tests/plugin_tests/test_link_announcer.py
  tests/plugin_tests/test_utility.py
  tests/plugin_tests/test_wordnik.py
  tools/escape_non_ascii.py
Due: tests, core, plugins

test(librefm): add more tests for librefm now playing
  plugins/librefm.py
  tests/plugin_tests/test_librefm.py
Due: tests, plugins

test(duckhunt): add test for missing the duck
  tests/plugin_tests/test_duckhunt.py
Due: tests

test(reddit_info): test 404 handling
  tests/plugin_tests/test_reddit_info.py
Due: tests

test(time_plugin): add tests
  tests/plugin_tests/test_time.py
Due: tests

test(core/event): test notice_doc response
  tests/core_tests/test_event.py
Due: tests

fix(db): correct order for cleaning up db tables in migration
  alembic/versions/60f88c7765e0_add_connection_to_permissions_tables.py
Due: none

fix(db): don't mark plugins loaded during get_plugin_tables
  cloudbot/plugin.py
  tests/core_tests/test_plugin_manager.py
Due: tests, core

refactor(logging): clean up logging config creation, add root logger config
  .gitattributes
  cloudbot/__init__.py
  tests/conftest.py
  tests/core_tests/test_init.py
  tests/core_tests/test_plugin_manager.py
  tests/core_tests/util_tests/test_timeformat.py
  tests/plugin_tests/test_regex_chans.py
Due: tests, core

refactor: add more type annotations in core
  cloudbot/__main__.py
  cloudbot/bot.py
  cloudbot/client.py
  cloudbot/clients/irc.py
  cloudbot/hook.py
  cloudbot/util/irc.py
  cloudbot/util/mapping.py
  cloudbot/util/pager.py
  cloudbot/util/timeparse.py
  cloudbot/util/web.py
  plugins/time_plugin.py
  pyproject.toml
  tests/core_tests/test_irc_client.py
  tests/plugin_tests/test_chan_track.py
  tests/plugin_tests/test_time.py
  tests/util/mock_bot.py
Due: tests, core, plugins

test: handle likely unreachable branches in coverage
  cloudbot/__main__.py
  cloudbot/errors.py
  cloudbot/util/timeparse.py
  pyproject.toml
  tests/core_tests/test_client.py
  tests/core_tests/test_errors.py
Due: tests, core

feat: move location bias to global config option
  plugins/locate.py
  plugins/time_plugin.py
  tests/plugin_tests/test_locate.py
  tests/plugin_tests/test_time.py
Due: tests, plugins

refactor: renamse global bot instance holder, deprecate old name
  alembic/versions/60f88c7765e0_add_connection_to_permissions_tables.py
  cloudbot/bot.py
  cloudbot/db.py
  plugins/brew.py
  plugins/google_cse.py
  plugins/google_translate.py
  plugins/imgur.py
  plugins/issafe.py
  plugins/lastfm.py
  plugins/lyricsnmusic.py
  plugins/octopart.py
  plugins/spotify.py
  plugins/wordnik.py
  plugins/youtube.py
  tests/conftest.py
  tests/core_tests/test_bot.py
  tests/core_tests/test_plugin_hooks.py
  tests/plugin_tests/test_brew.py
  tests/plugin_tests/test_cryptocurrency.py
  tests/plugin_tests/test_imgur.py
  tests/plugin_tests/test_lastfm.py
  tests/plugin_tests/test_spotify.py
  tests/plugin_tests/test_tvdb.py
Due: tests, core, plugins

fix: remove steamdb plugin as scraping is broken
  plugins/steamdb.py
Due: plugins

fix: remove snopes plugin, search api was shut down
  plugins/snopes.py
Due: plugins

refactor: remove unnecessary crypto random generator
  plugins/password.py
  tests/plugin_tests/test_password.py
  tests/util/mock_bot.py
Due: tests, plugins

fix: remove broken dogpile commands
  data/dogpile.crt
  plugins/dogpile.py
  tests/data/dogpile-images-empty.html
  tests/data/dogpile-images.html
  tests/data/dogpile-web.html
  tests/data/get_dogpile_data.py
  tests/plugin_tests/test_dogpile.py
Due: tests, plugins

docs: correct minimum supported python version
  README.md
  docs/README.md
  docs/installing/win.md
  docs/user/main_user.md
Due: none

fix: remove broken plugins/broken APIs
  data/foaas.json
  plugins/animal_gifs.py
  plugins/cats.py
  plugins/dig.py
  plugins/etymology.py
  plugins/foaas.py
  plugins/minecraft_user.py
  plugins/minecraft_wiki.py
  plugins/profiling.py
  plugins/randomusefulwebsites.py
  plugins/scene.py
  plugins/sportscores.py
  plugins/twitter.py
  plugins/wyr.py
  tests/plugin_tests/test_cats.py
  tests/plugin_tests/test_dig.py
  tests/plugin_tests/test_foaas.py
  tests/plugin_tests/test_pager_commands.py
  tests/plugin_tests/test_randomusefulwebsite.py
  tests/plugin_tests/test_wyr.py
Due: tests, plugins

refactor: enable strict-optional setting
  cloudbot/clients/irc.py
  cloudbot/util/text.py
  plugins/core/chan_log.py
  plugins/core/chan_track.py
  plugins/core/optout.py
  plugins/gaming.py
  plugins/github.py
  plugins/grab.py
  plugins/imgur.py
  plugins/ping.py
  plugins/poll.py
  plugins/profile.py
  plugins/profiling.py
  plugins/reddit_info.py
  plugins/tvdb.py
  plugins/weather.py
  plugins/wordnik.py
  plugins/xkcd.py
  pyproject.toml
  tests/core_tests/util_tests/test_http.py
  tests/plugin_tests/test_chatbot.py
  tests/plugin_tests/test_github.py
  tests/plugin_tests/test_imgur.py
  tests/plugin_tests/test_optout.py
  tests/plugin_tests/test_ping.py
  tests/plugin_tests/test_tvdb.py
  tests/plugin_tests/test_weather.py
  tests/util/mock_bot.py
Due: tests, core, plugins

build: remove old vagrant configs
  .gitignore
  Vagrantfile
  docs/installing/win.md
  vagrant-bootstrap.sh
Due: none

refactor: apply autowalrus
  .pre-commit-config.yaml
  cloudbot/clients/irc.py
  cloudbot/util/pager.py
  cloudbot/util/web.py
  plugins/admin_bot.py
  plugins/core/chan_track.py
  plugins/core/core_sieve.py
  plugins/core/hook_stats.py
  plugins/core/log.py
  plugins/cryptocurrency.py
  plugins/feeds.py
  plugins/github.py
  plugins/karma.py
  plugins/lastfm.py
  plugins/librefm.py
  plugins/locate.py
  plugins/notes.py
  plugins/reddit_info.py
  plugins/time_plugin.py
  plugins/tvdb.py
  plugins/weather.py
  plugins/wordnik.py
  plugins/yelling.py
Due: core, plugins

ci: add nitpick workflow
  .github/workflows/nitpick.yml
Due: none

build: clean up pyproject
  pyproject.toml
Due: none

ci: sync nitpick workflow
  .cz.toml
  .github/workflows/nitpick.yml
  .gitignore
  .pre-commit-config.yaml
  pyproject.toml
Due: none
